.projectGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
}

.projectCardWrapper {
  display: flex;
  height: 100%;
}

.projectCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
  
}

.projectCard:hover {
  transform: translateY(-5px);
}

.cardHeader {
  padding: 0;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
  
  
 
}

.projectVideo {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 8px 8px 0 0;
  
  
}


.cardContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.projectDescription {
  flex-grow: 1;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardFooter {
  margin-top: auto;
}

